name: AI Web CD
on:
  push:
    branches: ['master']
jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: read
    strategy:
      matrix:
        node-version: [24.x]
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
      - run: echo AI_SERVER_URL=${{ secrets.VITE_AI_SERVER_URL }} >> ./.env
    
      # Setup node
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}

      # Setup dependencies
      - run: yarn
        env:
          NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      # Build
      - run: yarn run build
        env:
          CI: false

      # Upload build directory as an artifact
      - name: Upload build directory
        uses: actions/upload-artifact@v4
        with:
          name: build
          path: dist/

  publish:
    needs: build
    runs-on: ubuntu-latest
    permissions:
      contents: read
      deployments: write
      pull-requests: write
    name: Publish to Cloudflare Pages
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      # Download the build artifact
      - name: Download build artifact
        uses: actions/download-artifact@v4
        with:
          name: build
          path: build

      - name: Publish to Cloudflare Pages
        id: cloudflare
        uses: cloudflare/pages-action@v1
        with:
          apiToken: ${{ secrets.CLOUDFLARE_API_TOKEN }}
          accountId: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
          projectName: ai-web
          directory: build
          gitHubToken: ${{ secrets.GITHUB_TOKEN }}
          wranglerVersion: '3'
